<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../../script/back-office/article.js" defer></script>
    <link rel="stylesheet" href="../../css/back-office/article.css">
    <title>Document</title>
</head>
<body>
    <div class="containerArticle border-2">
        <div class="ml-2 my-4">
            <p>
                <label for="titleArticle" class="bg-content border border-black">Titre</label>
                <input type="text" name="titleArticle" id="titleArticle" class="bg-content border border-black ">
            </p>
    
            <p>
                <label for="bodyArticle" class="bg-content border border-black">Body</label>
                <textarea name="bodyArticle" id="bodyArticle" cols="30" rows="10" class="bg-content border border-black resize-none"></textarea>
            </p>
    
            <p>
                <label for="tagArticle" class="bg-content border border-black">Tag</label>
                <input type="text" name="tagArticle" id="tagArticle" class="bg-content border border-black">
            </p>
    
            <p>
                <label for="categorieArticle" class="bg-content border border-black">Categorie</label>
                <input type="text" name="categorieArticle" id="categorieArticle" class="bg-content border border-black">
            </p>
    
            <p>
                <label for="AuteurArticle" class="bg-content border border-black">Titre</label>
                <input type="text" name="AuteurArticle" id="AuteurArticle" class="bg-content border border-black">
            </p>
    
            <p>
                <label for="dateArticle" class="bg-content border border-black">Date</label>
                <input type="date" name="dateArticle" id="dateArticle" class="bg-content border border-black">
            </p>
            
            <p>
                <input type="submit" value="Submit" class="bg-content border border-black">
            </p>
        </div>

    </div>
</body>
</html>