<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="scriptCreate.js" defer></script>
    <title>Document</title>
</head>
<body>
    <h1>créer un article</h1>
    <form action="" method="post">
      <div>
        <label for="title"> Titre: </label>
       <input type="text" name="title" id="formTitle" placeholder="tarte aux raisins">
      </div>
      <div>
        <label for="body">Body: </label>
        <input type="text" name="body" id="formBody" placeholder="délice qui rendra la famille complètement tarte!">
      </div>
      <div>
        <label for="tags">Tags: </label>
        <input type="text" id="formTags" placeholder="cuisine francaise">
      </div>
      <div>
        <label for="tags">Tags2: </label>
        <input type="text" id="formTags2" placeholder="délice sucré">
      </div>
      <div>
        <label for="category">Category: </label>
        <input type="text" name="category" id="formCategory" placeholder="patisserie">
      </div>
      <div>
        <select name="" id="formTagsSelect" multiple>

        </select>
      </div>
      <div>
        <label for="writer"> auteur:</label>
        <input type="text" id="formWriter" placeholder="philippe conticini">
      </div>
      <div>
        <label for="date"> date:</label>
        <input type="date" id="formDate">
      </div>
    </form>
    <button id="submit" >
        créer l'article
    </button>
    <button  id="submitLocal">
      créer l'article en local
    </button>
    <!--penser à faire un dropdown pour les tags-->
</body>
</html>